.span_1_4_red{
background-color: red;
}
.span_1_8_green{
background-color: green;
}
.span_1_4_blue{
background-color: blue;
}
.span_1_4_orange{
background-color: orange;
}
.span_1_4_purple{
background-color: purple;
}
